@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html > body {
  margin: 0 !important;
  background-color: $background;
  font-size: 1rem;
}

.main-section {
  padding: 2rem 2rem;
}

input::-moz-focus-inner {
  border: 0;
}

.simple-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 520px));
}

.navbar-title {
  font-weight: 700;
}

.brand-icon {
  margin-right: 0.5rem;
}

.card-content {
  padding: 3rem;
}

.card-task-list {
  margin: 1rem;
}

.navbar-menu .router-link-exact-active {
  color: $link;
}

.underline-primary {
  border-bottom: 5px solid $highlight-color;
}

.has-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0;
}

.has-border {
  border: 1px solid #cccccc;
}

.has-shadow-lift {
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    transform: translateY(-10px);
    border: 1px solid #cccccc;
  }
}

.has-shadow-border {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    box-shadow: 0px 4px 8px rgba(50, 115, 220, 0.4);
  }
}

.button.button-special {
  box-shadow: rgba(0, 0, 0, 0.1) 0 7px 25px 0;
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);
  border: none;
  border-radius: 6px;
  z-index: 50;

  &:hover {
    color: #3273dc;
    // background-color: rgba(50, 115, 220, 0.01);
    box-shadow: 0px 4px 8px rgba(50, 115, 220, 0.4);
    img {
      opacity: 0.9;
    }
  }

  &--filter {
    @extend .button-special;
    margin: 1em 0.25em 0 0.25em;
    background-color: $hovered-item;

    &.selected {
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      background-color: $primary;
      color: white;
    }
  }
}

.one-line-items {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.is-right {
  justify-content: flex-end;
}

.is-inverted {
  transform: scale(-1, 1);
}

.has-text-dark {
  color: $subtitle-color;
}

.button {
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.actions-scroller {
  height: 174px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 15px;
  scrollbar-color: #babac0 $bg-color;
}

.actions-scroller::-webkit-scrollbar {
  width: 0.25rem;
}

#janky-slider {
  overflow: visible !important;
}

.actions-scroller::-webkit-scrollbar-track {
  background: $bg-color;
}

.actions-scroller::-webkit-scrollbar-thumb {
  background: #babac0;
  border-radius: 16px;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
}

.action {
  margin: 0 20px 14px 20px;
  border-radius: 6px;
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.15);
  background-color: $bg-color;

  &:hover {
    background-color: #e6efff;

    .action-button {
      background-color: $hovered-item;
      &:hover {
        i {
          color: #fff;
        }
        background-color: $blue;
      }
    }
  }

  &.is-edited {
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $bg-color;
    margin: 0.75em 20px;

    &:hover {
      background-color: #e6efff;
    }

    .action-button {
      background-color: $light-red;
      &:hover {
        background-color: $hurry-color;
      }
      margin-left: 0.5em;
    }

    .is-check {
      background-color: $hovered-item;
      &:hover {
        background-color: $blue;
      }
    }
  }

  &.is-finished {
    border-radius: 6px;
    margin: 0.5em 20px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $background;

    &:hover {
      background-color: $hovered-item;
    }

    .title {
      @extend .title;
      margin-right: 0.25em;
    }
  }
}

.edit-button {
  padding: 0.5em 0.75em;
  border-radius: 6px;
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);

  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $bg-color;
  }

  &.is-delete {
    padding: 0.5em 0.85em;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $light-red;
    margin-left: 0.5em;

    &:hover {
      background-color: $hurry-color;
      i {
        color: #fff;
      }
    }
  }

  &.is-approve {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $hovered-item;
    &:hover {
      background-color: $blue;
      i {
        color: #fff;
      }
    }
  }
}

.action-button {
  padding: 0.5em 0.75em;
  border-radius: 6px;
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);

  &.edit-mode {
    background-color: $hurry-color;
    &:hover {
      padding: 0.75em 1em;
      border-radius: 30%;
      background-color: $hurry-color;
    }
  }
}

.tile .is-fullheight {
  height: 100%;
}

.tile .fits-screen-height {
  height: calc(100vh - #{$navbar-height} - 4.9rem);
}

.menu {
  overflow: hidden;
  transition: all 100ms cubic-bezier(0, 0.09, 0.33, 0.97);
}

.menu-list {
  p {
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;
  }

  .anchor {
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;

    &--shadowless {
      @extend .anchor;
      box-shadow: none;
    }
  }
}

.clickable-form {
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);
  padding: 0.5em;
  border-radius: 6px;

  &:hover {
    color: $primary;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: $bg-color;
  }
}

.one-line-form {
  transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);

  .action-button {
    transition: all 300ms cubic-bezier(0, 0.09, 0.33, 0.97);
    padding: 0.5em 0.75em;
    border-radius: 6px;
    margin-left: 0.5em;
    &:hover {
      i {
        color: white;
      }
    }

    &--submit {
      @extend .action-button;
      background-color: $hovered-item;

      &:hover {
        background-color: $blue;
      }
    }

    &--cancel {
      @extend .action-button;
      background-color: $light-red;
      &:hover {
        background-color: $hurry-color;
      }
    }
  }
}

.goal-card-stat {
  padding: 0.5em;

  &--active {
    @extend .goal-card-stat;
    &:hover,
    &:active {
      p {
        color: $primary;
      }
      background-color: $bg-color;
    }
  }
}

.status-tag {
  background-color: inherit;
  border-radius: 20px;

  &--success {
    @extend .status-tag;
    background-color: $primary;
    color: white;
  }

  &--fail {
    @extend .status-tag;
    background-color: $hurry-color;
    color: white;
  }
}

.dropdown-trigger {
  a {
    color: $subtitle-color;
  }
}

.editable-tile {
  .edit-button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin: 0.5em 0;
    position: absolute;

    .edit-icon {
      i {
        position: absolute;
        margin: 0.25em 0 0 0;
        color: #363636;
      }
    }

    &:hover {
      .edit-icon {
        i {
          color: #3273dc;
        }
      }
    }

    &--submit {
      @extend .edit-button;
      background-color: #cdf8ce;

      &:hover {
        background-color: hsl(141, 53%, 53%);
      }
    }
  }
}

.add-goal-button {
  @extend .button-special;
}
