$vue: #4fc08d;
$primary: $vue;
$link: $primary;
$navbar-background-color: #fff;
$border-color: #dbdbe3;
$bg-primary-color: #121212;
$text-primary-color: #b6b6b6;
$text-secondary-color: #ececec;
$scrollbar-color: #555bd9;
