$highlight-color: #00c9b7;
$hurry-color: #d33e5d;
$blue: #3273dc;
$green: hsl(141, 53%, 53%);
$lightgray: #9c9e9f;
$bg-color: #f6f9fc;
$title-color: #363636;
$subtitle-color: #4a4a4a;
$subtitle-color-grey: #7a7a7a;
$primary-text-color: #4a4a4a;
$background: $bg-color;
$primary: $blue;
$link: $subtitle-color-grey;
$navbar-background-color: $background;
$family-sans-serif: 'Nunito', sans-serif;
$balloon-bg: fade-out(rgb(145, 52, 52), 0.05) !default;
$link-hover: $blue;
$hovered-item: #cde3f8;
$hovered-item-red: #f8cdcd;
$footer-background-color: #fff;
