$highlight-color: #00d6e8;
$hurry-color: #d33e5d;
$blue: #3273dc;
$lightgray: #9c9e9f;
$bg-color: #f6f9fc;
$title-color: #363636;
$subtitle-color: #4a4a4a;
$subtitle-color-grey: #7a7a7a;
$primary-text-color: #4a4a4a;
$background: $bg-color;
$primary: $blue;
$link: $primary;
$navbar-background-color: $background;
$family-sans-serif: 'Nunito', sans-serif;
